
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #ffffff;
}

header {
  text-align: center;
  padding: 2rem 1rem;
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.filter-buttons {
  margin-top: 1rem;
}

.filter-buttons button {
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  background: #fcd2d2;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.filter-buttons button:hover {
  background: #704e4e;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 1rem;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.4s;
}

.gallery-item:hover img {
  transform: scale(1.05);
}


.lightbox {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.8);
  text-align: center;
}

.lightbox-content {
  max-width: 90%;
  max-height: 80%;
  margin: auto;
}

.close, .prev, .next {
  position: absolute;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
}

.close {
  top: 20px;
  right: 30px;
}

.prev, .next {
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
}

.prev { left: 10px; }
.next { right: 10px; }

@media (max-width: 600px) {
  .filter-buttons {
    flex-wrap: wrap;
  }
}
